.auth__form {
	&-wrapper {
		position: relative;
		max-width: 40%;
		min-width: calc-font-size(22);
		min-height: calc-font-size(24.766);
	}
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: calc-font-size(1.875);
	border: install-border(2px, var(--color-gray-dark));
	border-radius: var(--border-radius);
	box-shadow: install-shadow(var(--color-gray-dark));

	&__title {
		font-size: calc-font-size(1.5);
	}

	&__input-name,
	&__input-password {
		position: relative;
		width: 100%;
		span {
			display: inline-block;
			position: absolute;
			top: calc-font-size(0.625);
			right: calc-font-size(0.75);
			svg {
				path {
					transition: install-transition(fill);
					fill: var(--color-white);
				}
			}
		}
		input {
			border-radius: var(--border-radius-small);
			border: install-border(2px, var(--color-gray-dark));
			padding: 0 calc-font-size(2.5) 0 calc-font-size(0.625);
			height: calc-font-size(2.5);
			width: 100%;
			background-color: transparent;
			color: var(--color-white);
			transition: install-transition(border-color);
			&::placeholder {
				color: var(--color-white);
			}
			&:focus,
			&:active {
				outline: none;
				border-color: var(--color-accent);
			}
			&:autofill,
			&:autofill:hover,
			&:autofill:focus,
			&:autofill:active,
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				-webkit-background-clip: text;
				-webkit-text-fill-color: var(--color-white);
			}
		}
	}

	&__input-name {
		margin-top: calc-font-size(1.25);
	}

	&__input-password {
		margin-top: calc-font-size(0.625);
		span {
			cursor: pointer;
			svg {
				display: none;
			}
		}
	}

	&__input-name,
	&__input-password {
		span,
		svg {
			width: calc-font-size(1.25);
			height: calc-font-size(1.25);
		}
	}

	fieldset {
		border: none;
		padding: 0;
		width: 100%;
		margin: calc-font-size(0.5) 0 0 0;
		p {
			margin: 0;
			input {
				position: absolute;
				opacity: 0;
				&:checked {
					+ label {
						&::before {
							background-color: var(--color-accent);
							box-shadow: inset 0 0 0 3px var(--color-black);
						}
					}
				}
				@include hover {
					+ label {
						&::before {
							background-color: var(--color-accent);
							box-shadow: inset 0 0 0 3px var(--color-black);
						}
					}
				}
			}
			label {
				&::before {
					content: "";
					background-color: transparent;
					border-radius: 50%;
					border: install-border(2px, var(--color-accent));
					display: inline-block;
					margin-right: 5px;
					width: 20px;
					height: 20px;
					vertical-align: middle;
					position: relative;
					top: 0;
					left: 0;
					transition: install-transition(all);
				}
			}
		}
	}

	&__fieldset-inputs-wrapper {
		border-radius: var(--border-radius-small);
		display: flex;
		justify-content: space-between;
		gap: calc-font-size(1.5625);
		padding: calc-font-size(0.3125);
	}

	button {
		position: relative;
		margin-top: calc-font-size(0.94);
		width: 100%;
		height: calc-font-size(3.75);
		padding: 0;
		font-size: calc-font-size(1);
		border: install-border(2px, var(--color-gray-dark));
		border-radius: var(--border-radius-small);
		background-color: transparent;
		color: var(--color-white);
		transition: install-transition(all);
		&::before {
			content: "";
			display: block;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--color-accent);
			transform: scaleY(0);
			transform-origin: 50% 0;
			transition: install-transition(transform);
		}
		@include hover {
			box-shadow: install-shadow(var(--color-gray-dark));
			border: install-border(2px, var(--color-accent));
			&::before {
				transform: scaleY(1);
			}
		}
	}

	&__no-account {
		margin-top: calc-font-size(0.94);
		a {
			color: var(--color-white);
			transition: install-transition(color);
			@include hover {
				color: var(--color-gray-light);
			}
		}
	}

	&--login,
	&--registration {
		position: absolute;
		top: 0;
		left: 0;
		transition: install-transition(transform);
		backface-visibility: hidden;
	}

	&--login {
		transform: perspective(1000px) rotateY(0deg);
		&.auth__form--is-flipped {
			transform: perspective(1000px) rotateY(-180deg);
		}
	}

	&--registration {
		transform: perspective(1000px) rotateY(180deg);
		&.auth__form--is-flipped {
			transform: perspective(1000px) rotateY(0deg);
		}
	}
}

.form__input-radio--is-white-theme {
	input {
		&:checked {
			+ label {
				&::before {
					box-shadow: inset 0 0 0 3px var(--color-white) !important;
				}
			}
		}
		@include hover {
			+ label {
				&::before {
					box-shadow: inset 0 0 0 3px var(--color-white) !important;
				}
			}
		}
	}
}

.form__input--is-focus,
.form__input-span--is-focus {
	path {
		fill: var(--color-accent) !important;
	}
}

.form__input-svg--is-visible {
	display: inline !important;
}

.form__input-span--is-invalid-focus {
	path {
		fill: var(--color-red-notif) !important;
	}
}

.form__input--is-invalid,
.form__fieldset-inputs-wrapper--is-invalid {
	border: install-border(2px, var(--color-red-notif)) !important;
}

span.form__input-error {
	margin-top: calc-font-size(0.3125);
	display: block;
	width: 100%;
	height: 100%;
	position: static;
	transform: none;
}
