.auth {
	&__form {
		max-width: 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.form {
	padding: calc-font-size(1.875);
	border: install-border(2px, var(--color-gray-dark));
	border-radius: var(--border-radius);
	box-shadow: install-shadow(var(--color-gray-dark));
	&__title {
		font-size: calc-font-size(1.5);
	}

	&__input-name {
		margin-top: calc-font-size(1.25);
		span {
			svg {
				path {
					fill: var(--color-white);
				}
			}
		}
	}

	&__input-password {
		margin-top: calc-font-size(0.625);
		span {
			svg {
				path {
					fill: var(--color-white);
				}
			}
		}
	}

	&__input-name,
	&__input-password {
		position: relative;
		width: 100%;
		span {
			display: inline-block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 12px;
			width: 20px;
			height: 20px;
		}
		input {
			border-radius: var(--border-radius-small);
			border: install-border(2px, var(--color-gray-dark));
			padding: 0 calc-font-size(2.5) 0 calc-font-size(0.625);
			height: calc-font-size(2.5);
			width: 100%;
			background-color: transparent;
			color: var(--color-white);
			transition: border-color 0.3s ease 0s;
			&::placeholder {
				color: var(--color-white);
			}
			&:focus,
			&:active {
				outline: none;
				border-color: var(--color-accent);
			}
			&:autofill,
			&:autofill:hover,
			&:autofill:focus,
			&:autofill:active,
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				-webkit-background-clip: text;
				-webkit-text-fill-color: var(--color-white);
			}
		}
	}

	fieldset {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		margin: calc-font-size(0.94) 0 0 0;
		padding: 0;
		width: 100%;
		border: none;
		p {
			margin: 0;
		}
	}

	&__input-radio,
	&__input-checkbox {
		display: block;
		position: relative;
		padding-left: calc-font-size(1.56);
		font-size: calc-font-size(1);
		user-select: none;
		input {
			position: absolute;
			margin: 0;
			opacity: 0;
			height: 0;
			width: 0;
		}
		.checkmark {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc-font-size(1.25);
			height: calc-font-size(1.25);
			background-color: var(--color-white);
			border-radius: 50%;
			&::after {
				content: "";
				position: absolute;
				display: none;
			}
		}
		@include hover {
			input ~ .checkmark {
				background-color: var(--color-gray-light);
			}
		}
		& input:checked ~ .checkmark {
			background-color: transparent;
			border: install-border(2px, var(--color-accent));
		}
		& input:checked ~ .checkmark::after {
			display: block;
		}
		& .checkmark::after {
			width: calc(var(--font-size) * 0.625);
			height: calc(var(--font-size) * 0.625);
			background: var(--color-accent);
			border-radius: 50%;
		}
	}

	&__checkbox-remember {
		margin-top: calc-font-size(0.94);
		align-self: flex-start;
	}

	&__input-checkbox {
		.checkmark {
			padding-bottom: calc-font-size(0.1875);
			border-radius: 0;
			&::after {
				width: calc(var(--font-size) * 0.4375);
				height: calc(var(--font-size) * 0.75);
				border: solid var(--color-accent);
				border-width: 0 3px 3px 0;
				border-radius: 0;
				background-color: transparent;
				transform: rotate(45deg);
			}
		}
	}

	button {
		position: relative;
		margin-top: calc-font-size(0.94);
		width: 100%;
		height: calc-font-size(3.75);
		padding: 0;
		font-size: calc-font-size(1);
		border: install-border(2px, var(--color-gray-dark));
		border-radius: var(--border-radius-small);
		background-color: transparent;
		color: var(--color-white);
		transition: box-shadow 0.3s ease 0s;
		&::before {
			content: "";
			display: block;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--color-accent);
			transform: scaleY(0);
			transform-origin: 50% 0;
			transition: transform 0.3s ease 0s;
		}
		@include hover {
			box-shadow: install-shadow(var(--color-gray-dark));
			&::before {
				transform: scaleY(1);
			}
		}
	}

	&__no-account {
		margin-top: calc-font-size(0.94);
		a {
			display: inline-block;
			color: var(--color-white);
			transition: color 0.3s ease;
			@include hover {
				color: var(--color-gray-light);
			}
		}
	}
}

.form--registration {
	display: none;
}
