body {
	display: flex;
	flex-direction: column;
}

main {
	margin-block: auto;
}

.auth {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;

	&__info {
		max-width: 50%;
	}

	&__title {
		font-size: calc-font-size(2);
		span {
			position: relative;
			font-family: var(--font-family-alt);
			font-size: calc-font-size(2.5);
			&::before {
				content: attr(data-text);
				background-color: var(--color-black);
				position: absolute;
				z-index: 1;
				color: var(--color-accent);
				pointer-events: none;
				height: 0;
				overflow: hidden;
				transition: install-transition(height);
			}
		}
	}

	&__descr {
		font-size: calc-font-size(1);
		margin-top: calc-font-size(1.5);
	}
}

.auth__title-span--is-hover {
	&::before {
		height: 100% !important;
		color: var(--color-black);
	}
}

.auth--preload * {
	transition: none !important;
}
