:root {
	--font-family-base: "Open Sans", sans-serif;
	--font-family-alt: "Merienda", cursive;
	--font-size: 16px;
	--line-height: 1.28;

	--container-width: 1240px;
	--container-padding-x: 20px;

	--border-radius: 14px;
	--border-radius-small: 7px;

	--color-black: #010101;
	--color-white: #fefefe;
	--color-accent: #902bf5;
	--color-gray-dark: #6c6c6c;
	--color-gray-light: #bdbebe;
	--color-green-notif: #28be0b;
	--color-red-notif: #fb3a46;
}
