:root {
	--font-family-base: "Open Sans", sans-serif;
	--font-family-alt: "Merienda", cursive;
	--font-size: 16px;
	--line-height: 1.4;

	--color-black: #010101;
	--color-white: #fefefe;
	--color-accent: #902bf5;
	--color-gray-dark: #6c6c6c;
	--color-gray-light: #bdbebe;
}
