<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
		/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="Evgeny Stepanov" />
		<meta
			name="description"
			content="Pet project for recording clients in a barbershop. Written in vanilla javascript. All data is saved to local storage"
			content="My pet JS project. My contacts: evge.stepanov@mail.ru, https://vk.com/id708450206, https://github.com/Evgeny-Stepanov?tab=repositories, t.me/stepanov_dev"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="./images/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="./images/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="./images/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="./images/favicon/site.webmanifest" />
		<title>Привет! &#128075;</title>
		<!-- <title>Привет! &#x1F44B;</title> -->
	</head>

	<body class="preload">
		<main>
			<section class="auth container">
				<div class="auth__info">
					<h1 class="auth__title">
						Добро пожаловать в
						<span lang="en" data-text="Clients">Clients</span>
					</h1>
					<p class="auth__descr">
						&ensp; С помощью нашего приложения пользователи могут легко и быстро
						забронировать время для визита, выбрав удобного специалиста и нужные
						услуги. Удобный интерфейс обеспечивает доступ к расписанию мастеров,
						что позволяет избежать конфликтов и очередей. Клиенты получают
						уведомления о предстоящих записях, что снижает риск опозданий и
						снижает количество отказов. <br />
						&ensp; Кроме того, приложение предоставляет владельцам барбершопов
						инструмент для анализа данных о посещаемости, популярности услуг и
						клиентах. Это позволяет эффективно планировать график работы,
						вводить акции и улучшать качество обслуживания. <br />
						&ensp; Интуитивно понятный дизайн и многофункциональность приложения
						делают его незаменимым помощником как для клиентов, так и для
						работников салона.
					</p>
				</div>

				<%= require('html-loader!./html/auth-form.html').default %>
			</section>
		</main>
		<%= require('html-loader!./html/auth-footer.html').default %>
	</body>
</html>
